* {
    margin: 0
}

html {
    scroll-behavior: smooth;
}

main {
    height: 30vh
}

h1 {
    padding: 20px;
    text-align: center
}

input {
    background-color: rgb(53, 45, 38);
    border: 3px solid rgb(33, 22, 22);
    padding: 15px;
    width: 400px;
    height: 40px;
    font-size: 1.2rem;
    margin: 20px 0;
}

.karty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

img {
    width: 260px;
}