header {
    height: auto;

}

main {
    height: 30vh
}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh
}

input {
    background-color: rgb(53, 45, 38);
    border: 3px solid rgb(33, 22, 22);
    padding: 15px;
    width: 400px;
    height: 40px;
    font-size: 1.2rem;
    margin: 20px 0
}

select {
    background-color: rgb(53, 45, 38);
    border: 3px solid rgb(33, 22, 22);
    color: rgb(186, 186, 186);
    height: 40px;
    padding: 5px;
    margin: 20px 0;
    font-size: 1rem;
}

.postac {
    width: 100%;
    min-height: 250px;
    background-color: rgb(10, 8, 7);

    border: 5px solid rgb(138, 120, 120);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.obraz-postaci img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin: 10px
}

.opis-postaci p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;

}

.opis-postaci .nazwa {
    font-size: 3.2rem;
    margin: 0;
}

section a {
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 20px 0;
}

.tagi {
    display: none
}

@media screen and (max-width:680px) {

    input,
    select {
        margin: 5px;
    }
}

@media screen and (max-width:900px) {
    section {
        width: 90%
    }

    .opis-postaci .nazwa {
        font-size: 2rem;
        margin: 5px 0 10px 0
    }
}