* {
    margin: 0;
    color: rgb(255, 254, 246);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.container {
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url('../images/baner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*? HEADER */
header {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 98
}

header img {
    width: 80px;
    border-radius: 25px;
    padding: 10px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
    list-style: none;
    position: relative
}

header ul li {
    padding: 20px 20px 10px 10px;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

header ul li a {
    text-decoration: none;
    position: relative;
    transition: all 0.2s;

}

header ul li a:hover {
    text-shadow: 0 0 2px white;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2.5px;
    background: linear-gradient(45deg, white 50%, rgba(255, 255, 255, 0));
    transition: all 0.5s ease;
}

header ul li a:hover::before {
    width: 100%;
}


.header-nav li ul {
    display: none;
    text-align: left;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 10px
}

.header-nav li:hover ul {
    display: block;
    position: absolute;
    animation-name: header-nav;
    animation-duration: 0.3s;
}

.header-nav li ul {
    width: 200px;
    transform: translateX(-20%);
    border-radius: 10px;
    background-color: rgba(31, 31, 31, 0.491);
    backdrop-filter: blur(5px);
    padding-bottom: 5px 2px;
}

.header-nav li ul li {
    padding-top: 0;
}

.header-nav li ul a {
    display: block;
    padding: 10px;
}

@keyframes header-nav {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}


/*? HEADER MOBILE */

.header-mobile {
    width: 80%;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 99;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    overflow-y: auto;
    padding: 10px
}

.header-mobile img {
    box-sizing: content-box;
    width: 60px;
    padding: 10px;
    margin: auto
}

.header-mobile .header-mobile-elements {
    padding: 10px;
    margin: 15px 10px;
    background-color: rgba(28, 24, 24, 0.5);
    border-radius: 15px 5px 10px;
}

.header-mobile h2 {
    padding: 5px;
    background-color: rgba(32, 30, 30, 0.5);
    border-radius: 15px 5px 10px;
}

.header-mobile ul {
    padding: 0;
    margin: auto
}

.header-mobile li {
    list-style: none;
    margin-left: 10px;
}

.header-mobile a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;

}

.header-mobile a::before {
    content: '';
    position: absolute;
    width: 2.5px;
    height: 20px;
    border-radius: 15px;
    background-color: white;
    transform: translate(-300%);

}

.div-close {
    width: 100%;

}

/*? MENU NEXT */

.menu-img {
    box-sizing: content-box;
    display: none;
    width: 50px;
    padding: 20px
}


.in-banner {
    padding-top: 80px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.napis-Uniwersum {
    /*position: absolute;
    top: 30vh;
    right:85vh;*/
    padding: 40px;
    background-color: rgba(31, 27, 27, 0.625);
    border-radius: 25px;
    font-size: 2rem;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px 10px rgba(31, 29, 29, 0.64);
}

.napis-Uniwersum h2 {
    padding: 5px;
    font-size: 1.5rem;
}


.img-baner {
    width: 150px;
    height: auto;
    /*position: absolute;
    right: 15%;
    top: 35%;*/
    padding: 25px;
    background-color: rgba(18, 15, 15, 0.555);
    box-sizing: content-box;
    /*border-radius: 15px;*/
    border-top-left-radius: 25px 150px;
    border-top-right-radius: 25px 150px;
    border-bottom-left-radius: 25px 150px;
    border-bottom-right-radius: 25px 150px;
    text-align: center;
    box-shadow: inset 0 0 10px 0px rgba(102, 102, 102, 0.804), 0 5px 20px 0 rgba(133, 120, 106, 0.868);
    animation-name: img-baner-slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.img-baner img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 3px solid rgba(31, 32, 34, 0.667);
    border-radius: 15px 15px 25px 25px;
}

.img-banner p {
    display: block;
    background-color: rgba(7, 7, 7, 0.555);
    padding: 20px;

}

@keyframes img-baner-slide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0);
    }
}



/*? ARTICLE */

article {
    height: auto;
    background-color: rgb(1, 1, 1);
}

section {
    height: auto;
    width: 75%;
    margin: auto;
}

.opis-o-uniwersum {
    margin: 10px;
}

section h1 {
    font-size: 3rem;
    padding: 50px 20px 20px 20px;
}

section .info h2 {
    text-align: center;
}

section h2 {
    font-size: 2.2rem;
    padding: 10px 10px 20px;
}

section p {
    font-size: 1.2rem;
    line-height: 150%;
    padding: 20px;
}

section li {
    line-height: 200%;
}

.informacje {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    width: 90%;
    padding: 15px;
    margin: 20px 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 15px 40px 15px;
    transition: all 2s ease;
}

.info-active {
    transform: translateY(0);
    opacity: 1;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.timeline img {
    width: 1100px;
    margin: 0 auto;
    padding: 50px;
}

.timeline p {
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}


/*? FOOTER */


footer {
    width: 100%;
    height: auto;
    background-color: rgb(14, 13, 12);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

footer ul {
    margin: 0;
    padding: 0
}

footer ul li {
    list-style: none;
    padding: 2px;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}



/*? MEEDIA */

@media screen and (max-width:1260px) {
    .timeline img {
        width: 800px;
    }
}

@media screen and (max-width:1000px) {
    .menu-img {
        display: block;
    }

    header ul {
        display: none;
    }

    main {
        height: 130vh;
    }
}

@media screen and (max-width:900px) {
    .timeline img {
        width: 500px;
    }
}

@media screen and (max-width:600px) {
    .timeline img {
        width: 350px;
        padding: 0 0 20px 0
    }
}


@media screen and (max-width:450px) {
    .napis-Uniwerusm {
        font-size: 1.5rem;
        padding: 20px;
        width: 85%;
        font-size: 1.6rem;
    }

    section {
        width: 95%
    }

    .napis-Uniwerusm h2 {
        font-size: 1.1rem;
    }

    section h1 {
        font-size: 2rem;
    }

    footer div {
        width: 100%;
        text-align: center
    }
}

@media screen and (max-width: 360px) {
    .napis-Uniwerusm h1 {
        font-size: 2.3rem;
    }

    .timeline img {
        width: 250px;
        padding: 0 0 20px 0
    }
}