/** ŚWIATY STRONA SWIAT.HTML*/

* {
    box-sizing: border-box;
}


article{
    min-height:50vh
}

.swiat1 {
    width: 100%;
    min-height: 250px;
    background-color: rgb(10, 8, 7);
    border: 5px solid rgb(138, 120, 120);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.obraz-swiata1 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px
}

.opis-swiata1 p {
    margin: 0;
    padding: 0px;
    font-size: 1.1rem;
    text-indent: 20px;

}

.opis-swiata1 .nazwa {
    font-size: 3.2rem;
    margin: 0;
}



/** ŚWIATY PODSTRONY */



.swiat {
    display: flex;
    justify-content: center;
    gap: 30px
}

.obraz-swiata h3 {
    text-align: center;
}

.opis-swiata {
    height: auto;
    font-weight: 300;
    text-indent: 16px;
    width: auto;
    padding: 20px 15px;
    margin: 20px 0;
    border-radius: 15px;
    border: 2px solid rgb(31, 31, 31);
    background: linear-gradient(-25deg, rgb(24, 24, 24), rgb(0, 0, 0));
}


.opis-swiata li {
    text-indent: 0px;
}

.opis-swiata p {
    line-height: 140%;
}

.opis-swiata h1 {
    padding: 15px;
    text-indent: 0;
}

b {
    font-weight: 500;
}

.nazwa-swiata {
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;

}

.opis-swiata a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 2px 4px;
    border-radius: 5px;
}

.opis-swiata a:hover {
    text-decoration: underline;
}


.image-slider:hover {
    cursor: pointer
}

.popup {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.639);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}



.obraz_popup {
    position: absolute;
    width: 80vw;
}

.close_popup {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    box-sizing: content-box;
    width: 75px;
    height: 75px;
    margin: 20px;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.128);
}

/*?SLIDERY STRZAŁKOWE */

.border-image {
    position: relative
}

.arrow {
    user-select: none;
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.597);
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(1px);
}


.to-left {
    top: 50%;
    transform: translateY(-50%);
}

.to-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.img1 {
    display: block;
}

.img2 {
    display: none
}



@media screen and (max-width:1000px) {
    .swiat {
        flex-wrap: wrap;
    }

    .opis-swiata>p {
        padding: 15px
    }
}

@media screen and (max-width:800px) {
    .swiat1 {
        flex-direction: column;
    }

    .opis-swiata1 p {
        margin: 2px 10px
    }

    .obraz-swiata1>img {
        width: 300px;
    }
}

@media screen and (max-width:375px) {
    .obraz-swiata1>img {
        width: 200px;
    }

    .opis-swiata1 p {
        text-indent: 0px;

    }

    .nazwa {
        font-size: 16px;
        line-height: 30px;
        text-align: center;

    }

    .nazwa>strong {
        font-size: 2rem;
        margin: 0;
    }
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}