html {
    scroll-behavior: smooth;
}

main {
    height: 30vh
}

section {
    background: linear-gradient(10deg, rgb(5, 5, 5), rgb(1, 1, 1));
}

.tresc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spis-tresci {
    margin: 15px 0 0 10px;
    padding: 10px 20px 20px 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    background-color: rgb(12, 12, 12);
}

.spis-tresci ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.spis-tresci h3 {
    text-align: center;
    margin: 5px 0
}

.spis-tresci li {
    background-color: rgb(19, 19, 19);
}

.spis-tresci li:nth-child(even) {
    background-color: rgb(14, 14, 14);
}

.spis-tresci li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.spis-tresci li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spis-tresci a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}

.spis-tresci a:hover {
    background-color: rgba(40, 40, 40, 0.5);
}

.opis-gatewayBloodshed {
    width: 750px;
    margin: 20px;
}

.opis-gatewayBloodshed p {
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
    margin-top: 10px;
}

.opis-gatewayBloodshed h2 {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.zasady {
    width: 97%;
    margin: 0 auto
}

.zasada {
    padding: 20px;
}


.zasada li {
    padding: 10px;
}

.zasada ul li:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(203, 194, 172);
    text-shadow: 0 0 5px rgba(196, 190, 153, 0.1);
}

.zasada h3 {
    font-size: 24px;
    padding: 10px;
}

#talie ul li {
    padding: 7px 0
}