* {
    margin: 0;
    color: rgb(255, 254, 246);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.container {
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(images/baner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999
}

header img {
    width: 80px;
    border-radius: 25px;
    padding: 10px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
    list-style: none;
    position: relative
}

header ul li {
    margin: 20px 20px 10px 10px;
    font-size: 1.3em;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

header ul li a:hover {
    text-shadow: 0 0 2px white;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2.5px;
    background: linear-gradient(45deg, white 50%, rgba(255, 255, 255, 0));
    transition: all 0.5s ease;
}

header ul li a:hover::before {
    width: 100%;
}

.menu-img {
    box-sizing: content-box;
    display: none;
    width: 50px;
    padding: 20px
}

.in-banner {
    padding-top: 80px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.napis-Uniwerusm {
    /*position: absolute;
    top: 30vh;
    right:85vh;*/
    padding: 40px;
    background-color: rgba(31, 27, 27, 0.625);
    border-radius: 25px;
    font-size: 2rem;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px 10px rgba(31, 29, 29, 0.64);
}

.napis-Uniwerusm h2 {
    padding: 5px;
    font-size: 1.5rem;
}


.img-baner {
    width: 150px;
    height: auto;
    /*position: absolute;
    right: 15%;
    top: 35%;*/
    padding: 25px;
    background-color: rgba(18, 15, 15, 0.555);
    box-sizing: content-box;
    /*border-radius: 15px;*/
    border-top-left-radius: 25px 150px;
    border-top-right-radius: 25px 150px;
    border-bottom-left-radius: 25px 150px;
    border-bottom-right-radius: 25px 150px;
    text-align: center;
    box-shadow: inset 0 0 10px 0px rgba(102, 102, 102, 0.804), 0 5px 20px 0 rgba(133, 120, 106, 0.868);
    animation-name: img-baner-slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.img-baner img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 3px solid rgba(31, 32, 34, 0.667);
    border-radius: 15px 15px 25px 25px;
}

.img-banner p {
    display: block;
    background-color: rgba(7, 7, 7, 0.555);
    padding: 20px;

}

@keyframes img-baner-slide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0);
    }
}



/*? ARTICLE */

article {
    height: auto;
    background-color: rgb(1, 1, 1);
}

section {
    height: auto;
    width: 75%;
    margin: auto;
}

section h1 {
    font-size: 3rem;
    padding: 50px;
}

section .info h2 {
    text-align: center;
}

section h2 {
    font-size: 2.2rem;
    padding: 10px 10px 20px;
}

section p {
    font-size: 1.2rem;
    line-height: 150%;
    padding: 20px;
}

section li {
    line-height: 200%;
}

.informacje {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info {
    width: 90%;
    padding: 15px;
    margin: 20px 10px;
    background-color: rgb(5, 5, 5);
    border-radius: 15px 40px 15px
}



/*? MEEDIA */

@media screen and (max-width:1000px) {
    .menu-img {
        display: block;
    }

    header ul {
        display: none;
    }

    main {
        height: 130vh;
    }


}

@media screen and (max-width:450px) {
    .napis-Uniwerusm {
        font-size: 1.5rem;
        padding: 20px;
        width: 85%;
        font-size: 1.6rem;
    }

    section {
        width: 95%
    }



    .napis-Uniwerusm h2 {
        font-size: 1.1rem;
    }

    section h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .napis-Uniwerusm h1 {
        font-size: 2.3rem;
    }
}